#search{
    height: 350px;
    width: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("spring-tulips-background.webp");
    border-radius: 30px;
}
#search h1{
    font-size: 2rem;
    color: black;
}
#search input{
    height: 28px;
    font-size: 0.8rem;
    width: 30%;
    border-radius: 20px;
    padding: 0px 20px;
}
