body{
    z-index: -0;
}
#about_one{
    background-color: rgb(0, 0, 0);
    height: 380px;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
#about_one p{
    font-size: 150px;
    padding: 10px;
    margin-left: 2px;
    margin-right: 430px;
}
#about_one img{
    display: inline;
    z-index: 2;
    height: 380px;
    width:380px;
    opacity: 0.8;
}
#main{
    font-size: 23px;
    padding:20px;
    margin:10px;
    margin-right: 10px;
    margin-left: 180px;
}