#search{
    height: 350px;
    width: 90%;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../../images/spring_tulips.webp");
    border-radius: 30px;
}
#search h1{
    font-size: 2rem;
    color: black;
}
#search input{
    height: 28px;
    font-size: 0.8rem;
    width: 70%;
    border-radius: 20px;
    padding: 0px 20px;
}
#search div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#search div img{
    height: 34px;
    width: 34px;
    margin-left: 10px;
}
